BODY {
  font-family: 'PT Serif', serif;
}


.container {
  text-align:center;
}

p{
  text-align:left;
  line-height:150%;
}

.navbar {
  font-family: 'Montserrat', sans-serif;

}


.hed {
  font-size:3em;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  padding-top:50px;
}


.byline {
  font-size:1em;
  text-transform:uppercase;
  margin-top:10px;
  font-family: 'Montserrat', sans-serif;

}

.col-md-12 {
  padding:50px;

}

.chapter-head {
  font-size:1.5em;
  font-family: 'Montserrat', sans-serif;
  padding-top:20px;
  padding-bottom:20px;
  font-weight:400;
}

.stack-image {
  width: 125px;
  max-width:900px;
  margin: left-align;
  height: 125px;
}

.caption {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  color:#999;
}

blockquote {
  font-size: 1.5em;
  font-family: 'Georgia', serif;
  font-style: italic;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  margin-left:  100px;
  padding-left: 25px;
  border-left: 4px solid #ccc;

}

.col-md-3 {
  padding-left: 50px;
  padding-right: 50px;

}

.col-md-6 {
  padding-left: 0px;
  padding-right: 50px;

}

/* unvisited link - styling from w3schools.com */
a:link {
  color: red;
}

/* visited link - styling from w3schools.com */
a:visited {
  color: green;
}

/* mouse over link - styling from w3schools.com */
a:hover {
  color: hotpink;
}

/* selected link - styling from w3schools.com */
a:active {
  color: blue;
}

#sidebar {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif; 
  background: rgba(250,140,50, 0.6);
}

.footer {
  background: #000;
  height:100px;
  min-height: 100px;
  padding-top:25px;
  margin-top:100px;
}

.footer p {
  font-family: 'Montserrat', sans-serif;
  color: #fff
}



@media(max-width:550px) {
  p {
    padding-left:20px;
    padding-right:10px;
  }

  .chapter-head {
    font-size:1.25em;
  }

  .hed {
    font-size:2em;
  }

}
