#content {

    margin: 0 auto;
    width: 900px;
}

img.align-center {
    display: block;
    margin: 0 auto;
}

/* Add font stylings to each header withing body to avoid HTML defaults */

h1 {
    font-family: Helvetica, sans-serif;

}
#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}

#body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}


h2 {
    font-family: Helvetica, sans-serif;
}

h3 {
    font-family: Helvetica, sans-serif;

}

/* Used blockquote stylings from earlier execise (because it was a nice look, why change, except the color */

blockquote {
    font: 16px;
    font-family: "normal helvetica", sans-serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: green;
    margin-left:  50px;
    padding-left: 15px;
    border-left: 4px solid #ccc;

}